openapi: 3.2.0
info:
  version: 1.6.0
  title: iBanFirst Fixed forward payment contract API
  description: iBanFirst API for cross-border payments, FX trades, account management, beneficiaries, and webhooks.
servers:
- url: https://api-demo.ibanfirst.com/api
security:
- X-WSSE: []
tags:
- name: Fixed forward payment contract
  description: Book a fixed forward payment contracts instantly on iBanFirst without manual intervention.
paths:
  /fixed-forwards/quote:
    post:
      summary: Ask for a fixed forward payment contract quote
      tags:
      - Fixed forward payment contract
      description: 'This service allows you to ask for a fixed forward quote.


        The quote remains valid for **12 seconds** and can be used to book a fixed forward payment contract with the **Create fixed forward** service.


        The **delivery date** must fall between **D+3** and the earlier of **D+6 months and the maximum authorized maturity date**.'
      requestBody:
        $ref: '#/components/requestBodies/Quote'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  quote:
                    $ref: '#/components/schemas/FixedForwardQuote'
        default:
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: postFixedForwardsQuote
      x-operation-id-source: derived
  /fixed-forwards:
    post:
      summary: Create fixed forward
      tags:
      - Fixed forward payment contract
      description: 'This service allows you to book a fixed forward payment contract on the real-time Forex market.


        You must use a quote obtained with the **Ask for a fixed forward payment contract quote** service.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - quoteId
              - sourceAccountId
              - deliveryAccountId
              properties:
                quoteId:
                  $ref: '#/components/schemas/quoteRef'
                sourceAccountId:
                  $ref: '#/components/schemas/ID'
                deliveryAccountId:
                  $ref: '#/components/schemas/ID'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  fixedForward:
                    $ref: '#/components/schemas/FixedForwardTrade'
        default:
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: postFixedForwards
      x-operation-id-source: derived
    get:
      summary: Get fixed forwards by status
      tags:
      - Fixed forward payment contract
      description: Retrieve the list of booked and executed fixed forward payment contract filtered by status.
      parameters:
      - name: status
        in: query
        description: 'A code representing the status of the trades you want to get.

          '
        schema:
          type: string
          enum:
          - all
          - planified
          - finalized
          - canceled
          default: all
      - name: fromDate
        in: query
        description: 'The starting date to search for fixed forward payment contract.

          '
        required: false
        schema:
          type: string
          format: YYYY-MM-DD
      - name: toDate
        in: query
        description: 'The ending date to search for fixed forward payment contract.

          '
        required: false
        schema:
          type: string
          format: YYYY-MM-DD
      - name: page
        in: query
        description: 'Index of the page.

          '
        required: false
        schema:
          type: string
          default: '1'
      - name: per_page
        in: query
        description: 'Number of items returned.

          '
        required: false
        schema:
          type: string
          default: '50'
      - name: sort
        in: query
        description: 'A code representing the order of rendering objects.

          '
        required: false
        schema:
          type: string
          enum:
          - ASC
          - DESC
          default: DESC
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  fixedForwards:
                    type: array
                    items:
                      $ref: '#/components/schemas/FixedForwardTrade'
                  page:
                    type: integer
                    description: Index of the page.
                  pageSize:
                    type: integer
                    description: Number of items returned per page.
                  total:
                    type: integer
                    description: Number of items available.
        default:
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: getFixedForwards
      x-operation-id-source: derived
  /fixed-forwards/{fixedForwardId}:
    get:
      summary: Get fixed forward details
      tags:
      - Fixed forward payment contract
      description: Retrieve the details of a fixed forward.
      parameters:
      - name: fixedForwardId
        in: path
        description: 'The code identifying the fixed forward payment contract you want to retrieve.

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  fixedForward:
                    $ref: '#/components/schemas/FixedForwardTrade'
        default:
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: getFixedForwardsByFixedForwardId
      x-operation-id-source: derived
components:
  schemas:
    FixedForwardTrade:
      type: object
      description: 'Representation of a fixed forward payment contract.

        '
      properties:
        fixedForwardId:
          $ref: '#/components/schemas/ID'
        appliedRate:
          $ref: '#/components/schemas/QuotedDecimal'
        currencyPair:
          $ref: '#/components/schemas/CurrencyPair'
        sourceAmount:
          $ref: '#/components/schemas/Amount'
        deliveredAmount:
          $ref: '#/components/schemas/Amount'
        createdDate:
          $ref: '#/components/schemas/Datetime'
        deliveryDate:
          $ref: '#/components/schemas/Date'
        status:
          description: The status of the fixed forward payment contract.
          type: string
          enum:
          - planified
          - finalized
          - canceled
        side:
          type: string
          description: The side representing the quote. `S` to sell and `B` to buy.
          enum:
          - B
          - S
        sourceAccountId:
          $ref: '#/components/schemas/ID'
        deliveryAccountId:
          $ref: '#/components/schemas/ID'
    Datetime:
      type: string
      pattern: ^((19[0,99]|2[0-9]{3})\-(0[1-9]|1[012])\-([012][0-9]|3[01])\ ([01][0-9]|2[0-3])\:([0-5][0-9])\:([0-5][0-9]))$
      format: ^((19[0,99]|2[0-9]{3})\-(0[1-9]|1[012])\-([012][0-9]|3[01])\ ([01][0-9]|2[0-3])\:([0-5][0-9])\:([0-5][0-9]))$
      example: '2016-01-01 00:00:00'
      description: 'A String representing a date by its year, month, day in month, hour, minute and second.

        '
    Amount:
      type:
      - object
      - 'null'
      description: 'Representation of an amount.

        '
      required:
      - value
      - currency
      properties:
        value:
          $ref: '#/components/schemas/QuotedDecimal'
        currency:
          $ref: '#/components/schemas/Currency'
    CurrencyPair:
      type: string
      pattern: ^[A-Z]{6}$
      format: ^[A-Z]{6}$
      example: EURUSD
      description: "A String representing two concatenated Three-digit ISO 4217 Currency Code of a currency. This String only contains capitalized letters.\n    \n    \n    \n    \n    \n    \n    \n    \n    \n    \n    \n    \n    \n    \n    \n    \n    \n"
    FixedForwardQuote:
      type: object
      description: 'Representation of a quote.

        '
      properties:
        quoteId:
          $ref: '#/components/schemas/quoteRef'
        currencyPair:
          $ref: '#/components/schemas/CurrencyPair'
        sourceAmount:
          $ref: '#/components/schemas/Amount'
        deliveredAmount:
          $ref: '#/components/schemas/Amount'
        appliedRate:
          $ref: '#/components/schemas/QuotedDecimal'
        expiresAt:
          $ref: '#/components/schemas/DatetimeFractionnal'
    quoteRef:
      type: string
      pattern: ^ui[0-9]{4}-[0-9]{5}-[0-9]{13}$
      format: ^ui[0-9]{4}-[0-9]{5}-[0-9]{13}$
      example: ui9230-29830-1773244279236
      description: 'A String representing the unique ID of the quote.

        '
    Error:
      type: object
      description: 'Representation of an error.

        '
      properties:
        errorCode:
          type: number
          format: int
          description: 'The code referring the error.

            '
        errorType:
          type: string
          description: 'A short description identifying a general category for the error that occurred.

            '
        errorMessage:
          type: string
          description: Error description.
        link:
          type: string
          description: 'An hyperlink to access the page that describes more accurately the error.

            '
    DatetimeFractionnal:
      type: string
      pattern: ^((19[0-9]{2}|2[0-9]{3})\-(0[1-9]|1[0-2])\-([0-2][0-9]|3[01])T([01][0-9]|2[0-3])\:([0-5][0-9])\:([0-5][0-9])\.[0-9]{1,9}Z)$
      format: ^((19[0-9]{2}|2[0-9]{3})\-(0[1-9]|1[0-2])\-([0-2][0-9]|3[01])T([01][0-9]|2[0-3])\:([0-5][0-9])\:([0-5][0-9])\.[0-9]{1,9}Z)$
      example: '2026-03-11T15:51:31.236943879Z'
      description: 'A string representing a UTC date-time in ISO 8601 format including year, month, day, hour, minute, second, and fractional seconds, terminated with the ''Z'' UTC designator.

        '
    Date:
      type: string
      pattern: ^[0-9]{4}\-[0-9]{2}\-[0-9]{2}$
      format: ^[0-9]{4}\-[0-9]{2}\-[0-9]{2}$
      example: '2016-01-01'
      description: "A String representing a date by its year, month and day in month.\n    \n"
    Currency:
      type: string
      pattern: ^[A-Z]{3}$
      format: ^[A-Z]{3}$
      example: USD
      description: 'A String representing the Three-digit ISO 4217 Currency Code of a currency. This String only contains capitalized letters.

        '
    QuotedDecimal:
      type: string
      pattern: ^((\-)?)[0-9]{12}((\.[0-9]{1,7})?)$
      format: ^((\-)?)[0-9]{12}((\.[0-9]{1,7})?)$
      example: '2.257'
      description: 'A String representing a formatted floating number.

        '
    ID:
      type: string
      pattern: ^[A-Za-z0-9]+$
      format: ^[A-Za-z0-9]+$
      example: Na5Dv6E
      description: 'A String representing the id of an object. This string contains alpha-numeric characters, including the capital ones.

        '
  requestBodies:
    Quote:
      content:
        application/json:
          schema:
            type: object
            required:
            - currencyPair
            - side
            - amount
            - deliveryDate
            properties:
              currencyPair:
                $ref: '#/components/schemas/CurrencyPair'
              side:
                description: 'The side representing the quote. `S` to sell and `B` to buy.

                  '
                type: string
                enum:
                - B
                - S
              amount:
                $ref: '#/components/schemas/Amount'
              deliveryDate:
                $ref: '#/components/schemas/Date'
      required: true
  securitySchemes:
    X-WSSE:
      type: apiKey
      in: header
      name: X-WSSE
      description: 'X-WSSE token-based authentication. The header value must be computed fresh for every request (tokens expire in ~5 minutes).


        Header value format:

        ```

        UsernameToken Username="<username>", PasswordDigest="<digest>", Nonce="<nonce_b64>", Created="<timestamp>"

        ```


        Algorithm:

        1. Generate a random nonce: ≥ 32 lowercase hex characters.

        2. Get current UTC timestamp in ISO 8601: `YYYY-MM-DDTHH:MM:SSZ`.

        3. Compute `PasswordDigest = Base64( SHA-1( nonce_bytes + created_bytes + secret_bytes ) )` — SHA-1 over the raw UTF-8 bytes concatenated in that order, result must be the binary digest before Base64 encoding.

        4. Compute `Nonce = Base64( nonce_utf8_bytes )`.


        See the `info.description` field at the top of this spec for full code samples in Python, JavaScript, PHP, Java, and Go.'
